<ion-header>
  <ion-navbar>
      <button class="back-button disable-hover bar-button bar-button-ios back-button-ios bar-button-default bar-button-default-ios show-back-button" ion-button="bar-button" style=""><span class="button-inner"><ion-icon class="back-button-icon icon icon-ios back-button-icon-ios ion-ios-arrow-back" role="img" aria-label="arrow back"></ion-icon><span class="back-button-text back-button-text-ios" style="transform: translateX(0px); transition-delay: initial; transition-property: none;">Atras</span></span><div class="button-effect"></div></button>
    <ion-title>
      Mensajes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
