<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Llamadas" tabBadge="3" tabIcon="call"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mensajes"tabBadge="6" tabIcon="mail"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Audio" tabIcon="musical-notes"></ion-tab>
 
 


</ion-tabs>
